// 主色
$--hc-main = #46a7fb

// 在线离线颜色
$--hc-online = #05C447
$--hc-offline = #cccccc

// 正常报警故障
$--hc-normal = #05C447
$--hc-alarm = #ff0000
$--hc-fault = #ffb869

// 内边距和外边距
$--hk-margin = 12px
$--hk-padding = 12px

$--hk-radius = 10px
